.main {
    flex: 1;
}

.bgDark {
    background-color: #12002b;
}

.signInButton {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
    background-color: #00bc77;
    border-color: #00bc77;
}

.signInContent {
    box-sizing: border-box;
    width: 300px;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: white;
}

.signInIcon {
    font-size: 5rem;
}

.inputRemember {
    display: flex;
}

.inputRemember label {
    margin-left: 0.25rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
}

.inputWrapper label {
    font-weight: bold;
}

.inputWrapper input {
    padding: 5px;
    font-size: 1.2rem;
}
