.hero {
    position: relative;
    height: 300px;
    background-image: url('../../assets/images/bank-tree.jpeg');
    background-repeat: no-repeat;
    background-position: 0 -50px;
    background-size: cover;
}

.heroContent {
    position: relative;
    top: 2rem;
    width: 200px;
    padding: 2rem;
    margin: 0 auto;
    text-align: left;
    background: white;
}

.heroContent .subtitle {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.heroContent .text {
    margin-bottom: 0;
    font-size: 0.9rem;
}

@media (min-width: 920px) {
    .hero {
        height: 400px;
        background-position: 0% 33%;
    }

    .heroContent {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 2rem;
    }

    .heroContent .subtitle {
        font-size: 1.5rem;
    }

    .heroContent .text {
        font-size: 1.2rem;
    }
}

.features {
    display: flex;
    flex-direction: column;
}

@media (min-width: 920px) {
    .features {
        flex-direction: row;
    }
}

.featureIcon {
    width: 100px;
    padding: 1rem;
    border: 10px solid #00bc77;
    border-radius: 50%;
}

.featureItem {
    flex: 1;
    padding: 2.5rem;
}

.featureItemTitle {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #222;
}
