.signInContent {
    box-sizing: border-box;
    width: 300px;
    padding: 2rem;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: white;
}

.signInIcon {
    font-size: 5rem;
}

.signInButton {
    display: block;
    width: 100%;
    margin-top: 1rem;
    font-size: 1.1rem;
}
