.container {
    display: block;
    margin: 0 auto 2rem;
    color: #fff;
    text-align: center;
}

.input {
    box-sizing: border-box;
    padding: 8px;
    margin-right: 8px;
    margin-left: 8px;
}

.input::placeholder {
    opacity: 0.6;
}

.editButton {
    width: 100px;
    margin-right: 8px;
    margin-left: 8px;
}

.buttonsContainer {
    margin-top: 10px;
}

@media (max-width: 512px) {
    .input {
        width: 80%;
        margin: 0;
        margin-top: 1px;
    }
}

.loaderContainer {
    font-weight: bold;
    color: white;
}

.loader {
    width: 0;
    height: 0;
    padding: 30px;
    margin: 50px auto;
    text-align: center;
    border: 10px solid white;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.errorContainer {
    color: red;
}
