.container {
    display: block;
    margin: 0 auto 2rem;
    color: #fff;
    text-align: center;
}

.input {
    box-sizing: border-box;
    padding: 8px;
    margin-right: 8px;
    margin-left: 8px;
}

.input::placeholder {
    opacity: 0.6;
}

.editButton {
    width: 100px;
    margin-right: 8px;
    margin-left: 8px;
}

.buttonsContainer {
    margin-top: 10px;
}

@media (max-width: 512px) {
    .input {
        width: 80%;
        margin: 0;
        margin-top: 1px;
    }
}
